<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harvey.nr_tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceInfoActivity"
            android:label="手机信息"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PerformanceActivity"
            android:label="性能信息"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IMSIActivity"
            android:label="运营商信息"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeHostActivity"
            android:label="hosts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SitesActivity"
            android:label="测试常用地址"
            android:screenOrientation="portrait" />
        <activity android:name=".ChangeAidActivity"
            android:label="修改aid"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>